doctype html
html(
    lang="en"
)
    head
        meta(
            content="text/html;charset=utf-8",
            http-equiv="Content-Type"
        )
        meta(
            content="utf-8",
            http-equiv="encoding"
        )
        style.
            | a[href], button { touch-action: manipulation; } /** removes 300 ms delay on mobile IE **/

        title #{title}
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        )
        link(
            rel="stylesheet"
            type="text/css"
            href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
        )
        link(
            rel="stylesheet"
            type="text/css"
            href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css"
        )
        link(
            rel="stylesheet"
            type="text/css"
            href="/node_modules/angular-kit-weight-unit-input/dist/ng-kit.weight-unit-input.min.css"
        )
    body(
        ng-app="ng-kit.weight-unit-input.example"
    )
        h1
            | #{title}
        .container
            .row
                .col-md-12(
                    ng-controller='IndexController'
                )
                    ng-kit-weight-unit-input(
                        value="value"
                        on-change="onChange()"
                    )
        script(
            type="text/javascript"
            src="/node_modules/angular/angular.min.js"
        )
        script(
            type="text/javascript"
            src="/node_modules/angular-kit-weight-unit-input/dist/ng-kit.weight-unit-input.min.js"
        )
        script(
            type="text/javascript"
            src="/src/app.js"
        )